.menu {
  background: black;
  font-family: Verdana;
  overflow: hidden;
}

.menu .logo {
  padding-top: 20px;
  padding-left: 42px;
  float: left;
  font-family: Verdana;
  color: red;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.menu ul {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  float: left;
  display: inline-block;
  background: black;
  margin: 0 22px;
}

.menu ul li a {
  color: white;
  text-decoration: none;
  line-height: 90px;
  font-size: 18px;
  padding: 8px 10px;
}

.menu ul li a:hover {
  border-radius: 5px;
  color: red;
  background-color: black;
  box-shadow: 0 0 20px red;
}

.menu ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
